# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch models and weights (Often too large for GitHub)
*.pth
*.pt
*.pkl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/

# Dataset files (If they are too large)
data/processed/*.csv
